In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
df = pd.read_csv("./train.csv")

In [3]:
df.shape

(6593274, 9)

In [4]:
import datetime
def convert(date_time):
    format1 = '%m/%d/%Y %H:%M'
    dat = pd.to_datetime(date_time, format=format1).dt
    return dat.month, dat.day, dat.hour, dat.minute

In [5]:
df['month'], df['day'], df['hour'], df['minute'] = convert(df['Ob'])

In [6]:
print(df.shape)
df.head(5)

(6593274, 13)

,Station,Ob,value,measure,target,R_flag,I_flag,Z_flag,B_flag,month,day,hour,minute
0,AURO,1/2/2021 0:30,19.2,temp_wxt,False,2,-1,0,1,1,2,0,30
1,AURO,1/2/2021 4:30,19.8,temp_wxt,False,2,-1,0,1,1,2,4,30
2,AURO,1/2/2021 5:30,19.5,temp_wxt,False,2,-1,0,1,1,2,5,30
3,AURO,1/2/2021 7:30,18.5,temp_wxt,False,2,-1,0,1,1,2,7,30
4,AURO,2/16/2021 2:30,17.7,temp_wxt,False,2,-1,0,1,2,16,2,30

In [7]:
qc0 = {"R0W0","R0I0","R0I1","R0B0","R0B1Z0","R1B0","R1B1Z0","Z0","B0","B1Z0","R0","R0Z0","R0I0Z0","R0I1Z0","R0B0Z4","R1Z0","R1B0Z0","R2B0Z0","I0","B0Z0"}
qc1 = {"R0Z2","R0I0Z2","R0I0Z4","R0B2Z0","R0B3Z0","R1","R1B0Z4","R1B1","R1B2Z0","R2Z0","R2B0","R2B2Z0","R3B0Z0","R3B1Z0","I1","B0Z4","B1","B2Z0"}
qc2 = {"R0Z4","R0I2","R0I2Z0","R0I4","R0I4Z0","R0B0Z4","R0B2","R0B2Z4","R0B3","R1Z4","R1B1Z4","R1B2","R1B2Z4","R1B3Z0","R2","R2Z4","R2B0Z4","R2B2","R2B3Z0","R3","R3Z0","R3I0","R3B0","R3B1","Z4","I2","B1Z4","B2","B2Z4","B3","B3Z0","B4","B4Z0"}
qc3 = {"U4","R0W4","R0I1Z4","R0I2Z4","R0I4Z4","R0B1Z4","R0B3Z4","R0B4Z0","R0B4Z4","R0B5Z0","R0B5Z4","R4","R1B3","R1B3Z4","R1B4Z0","R1B4Z4","R1B5Z0","R1B5Z4","R2B2Z4","R2B3Z4","R2B4Z0","R2B4Z4","R2B5Z0","R2B5Z4","R3Z4","R3I4","R3B0Z4","R3B1Z4","R3B2Z0","R3B2Z4","R3B3Z0","R3B3Z4","R3B4Z0","R3B4Z4","R3B5Z0","R3B5Z4","I4","B3Z4","B4Z4","B5","B5Z0","B5Z4"}

In [8]:
df['qc_score'] = [-1]*(df.shape[0])

In [9]:
df.head()

,Station,Ob,value,measure,target,R_flag,I_flag,Z_flag,B_flag,month,day,hour,minute,qc_score
0,AURO,1/2/2021 0:30,19.2,temp_wxt,False,2,-1,0,1,1,2,0,30,-1
1,AURO,1/2/2021 4:30,19.8,temp_wxt,False,2,-1,0,1,1,2,4,30,-1
2,AURO,1/2/2021 5:30,19.5,temp_wxt,False,2,-1,0,1,1,2,5,30,-1
3,AURO,1/2/2021 7:30,18.5,temp_wxt,False,2,-1,0,1,1,2,7,30,-1
4,AURO,2/16/2021 2:30,17.7,temp_wxt,False,2,-1,0,1,2,16,2,30,-1

In [10]:
def qc_score_flag():
    for i in tqdm(range(df.shape[0])):
        if(df['R_flag'][i] != -1):
            qc_flag = 'R'+str(df['R_flag'][i])
        if(df['I_flag'][i] != -1):
            qc_flag += 'I'+str(df['I_flag'][i])
        if(df['Z_flag'][i] != -1):
            qc_flag += 'Z'+str(df['Z_flag'][i])
        if(df['B_flag'][i] != -1):
            qc_flag += 'B'+str(df['B_flag'][i])

        qc_score = -1
        if(qc_flag in qc0):
            qc_score = 0
        elif(qc_flag in qc1):
            qc_score = 1
        elif(qc_flag in qc2):
            qc_score = 2
        elif(qc_flag in qc3):
            qc_score = 3
        df['qc_score'][i] = qc_score

qc_score_flag()

  0%|                                                                                      | 0/6593274 [00:00<?, ?it/s]C:\Users\sruja\AppData\Local\Temp/ipykernel_30956/3003186762.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['qc_score'][i] = qc_score
  7%|████▋                                                                 | 436044/6593274 [35:57<8:27:45, 202.10it/s]

KeyboardInterrupt:

In [11]:
df = pd.read_csv("./new_train.csv")
df.head()

,Unnamed: 0,Station,Ob,value,measure,target,R_flag,I_flag,Z_flag,B_flag,month,day,hour,minute,qc_score
0,0,AURO,1/2/2021 0:30,19.2,temp_wxt,False,2,-1,0,1,1,2,0,30,-1
1,1,AURO,1/2/2021 4:30,19.8,temp_wxt,False,2,-1,0,1,1,2,4,30,-1
2,2,AURO,1/2/2021 5:30,19.5,temp_wxt,False,2,-1,0,1,1,2,5,30,-1
3,3,AURO,1/2/2021 7:30,18.5,temp_wxt,False,2,-1,0,1,1,2,7,30,-1
4,4,AURO,2/16/2021 2:30,17.7,temp_wxt,False,2,-1,0,1,2,16,2,30,-1

In [12]:
df.groupby(['qc_score','target']).size().reset_index().rename(columns={0:'count'})

   qc_score  target    count
0        -1   False  3609232
1        -1    True    78157
2         0   False   686289
3         0    True    64978
4         1   False   476599
5         1    True    24526
6         2   False  1472906
7         2    True    66287
8         3   False   113076
9         3    True     1224

In [14]:
df['qc_score'].value_counts()

-1    3687389
 2    1539193
 0     751267
 1     501125
 3     114300
Name: qc_score, dtype: int64

In [ ]:
df.head()